.loginBg{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.sidebar .nav .nav-item .nav-link {
        -webkit-flex-direction: row!important;
        flex-direction: row!important;
       
    }

@media (min-width: 992px) {
    .sidebar-mini .sidebar {
        width: 235px!important;
    }
}
 li {
    list-style-type: none!important;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1.5rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    list-style: none;
    background-color: #f4f4f4;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.breadcrumb li {
    display: flex;
    align-items: center;
    color: #007bff;
    font-weight: 500;
}

.breadcrumb li + li::before {
    content: ">";
    padding: 0 8px;
    color: #6c757d;
}

.breadcrumb a {
    text-decoration: none;
    color: #4B49AC;
    transition: color 0.3s ease;
}

.breadcrumb a:hover {
    color: #6a68f0;
    text-decoration: underline;
}

.breadcrumb .active {
    color: #6c757d;
    font-weight: bold;
}

.breadcrumb i {
    margin-right: 0.5rem;
    font-size: 1rem;
    color: #007bff;
}

h1, .h1 {
    font-size: 2.125rem !important;
}
.table.table-bordered{
    background: #fff;
}
.bg-info, .settings-panel .color-tiles .tiles.info, th {
    background-color: #f4f4f4 !important;
}
.calendar-icon {
    cursor: pointer;
    color: #0097a7; /* Customize icon color */
}

.calendar-icon i {
    font-size: 16px; /* Adjust icon size */
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 576px!important;
    }
}

.nav-item.active {
    background: none!important;
}
.img-thumbnail {
    max-width: 100px!important;
}

/* Style for the form group when there's an error */
.form-group.has-error {
    border-color: #ff6850; /* Red border for error */
}

/* Style for the input field inside the error group */
.form-group.has-error .form-control {
    border-color: #ff6850; /* Red border for the input field */
    box-shadow: none; /* Remove input shadow */
}

/* Style for the help block (error message) */
.form-group.has-error .help-block {
    color: #ff6850; /* Red text for the error message */
    font-weight: bold;
    margin-top: 5px;
}

/* Style for the feedback icon (if any) */
.form-group.has-error .has-feedback {
    color: #ff6850; /* Red for any feedback icon */
}
/**
IOv
*/

.sidebar .nav.sub-menu .nav-item .nav-link.active {
    background: transparent;
    border-bottom: 1px solid #fff !important;
border-radius: 0 !important;
}
.sidebar .nav.sub-menu {
background: transparent !important;
}


